port: 3060

plugins:
  elasticsearch:
    cloudid: "foobarbaz=="
    username: "myuser"
    password: "mypass"
    index: "my-index"
    exclude_metrics:
      - .*datadog.*

  logger:
    ecs_compatible: true
